apiVersion: apps/v1
kind: Deployment
metadata:
  name: javawebapp-dep
  namespace: test-ns
spec:
  replicas: 3
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: javawebapp
  template:
    metadata:
      name: javawebapp
      labels:
        app: javawebapp
    spec:
      containers:
      - name: javawebapp
        image: mdprassadh/springboot:1.0.0
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: javawebappsvc
  namespace: test-ns
spec:
  type: LoadBalancer 
  selector:
    app: javawebapp
  ports:
  - port: 80
    targetPort: 8080
